// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Admin-LTE
@import '~admin-lte';

// Fontawesome icon import
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

//Element UI
@import "~element-ui/packages/theme-chalk/src/index";


//Temporary CSS
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');

.sidebar-dark-primary {
    background-color: #083885 !important;
}

.content-wrapper {
    background-color: #edf2fa !important;
}

.router-link-exact-active {
    color: #292825 !important;
    background-color: #fcba03 !important;
}

.right-sidebar {
    color: white !important;
}

.right-sidebar:hover {
    color: white !important;
    background-color: #fcba03 !important;
}

//User Side Styling
html {
    font-size: 1rem;
    color: #063855 !important;
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
      color: #063855 !important;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
      color: #063855 !important;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
      color: #063855 !important;
    }
  }